@model IEnumerable<CleanArchitecture.Application.Sales.Queries.GetSalesList.SalesListItemModel>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td><a href="sales/@sale.Id">@sale.Id</a></td>
                <td>@sale.Date.ToString("d")</td>
                <td>@sale.CustomerName</td>
                <td>@sale.EmployeeName</td>
                <td>@sale.ProductName</td>
                <td>$@sale.UnitPrice</td>
                <td>@sale.Quantity</td>
                <td>$@sale.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>
<div class="pull-right">
    <a class="btn btn-primary" href="sales/create">Create Sale</a>
</div>

